<div class="mx-auto m-8 p-8 bg-orange-50  text-justify rounded">
  <h1 class="font-bold text-4xl text-orange-500 m-[0.5rem]">Ghost Writer</h1><hr/ >
  <p class="m-[0.5rem] py-5 text-orange-400 font-bold text-center">Feeling uninspred ... get aghost writer</p>
  <p class="m-[0.5rem] justify-center">
    <%= link_to "Find me a ghost writer", new_user_registration_path, data: { turbo_method: :get },
     class: "text-green-500 font-bold bg-green-200 p-2
       rounded hover:text-green-50 hover:bg-green-500" %> 
  </p>
</div>
