<div class=" mx-auto ">
  <h1 class="text-center text-dark shadow-lg p-5 rounded">Account!</h1>
  <hr class="font-weight-bold text-secondary" />

 
    <% @accounts.each do |account| %>
      <% if account.user == current_user || !current_user %>
        <p class="py-1 shadow-lg py-2 rounded text-center">
          <%= link_to account.user.username, account, class: "fw-semibold text-dark" %>
        </p>
      <% end %>
    <% end %>
 
    <div class="text-center">
      <% if current_user %>
        <%= link_to "New account", new_account_path, class: "btn btn-secondary" %>
      <% end %>
    </div>
</div>
